create table cases (id SERIAL, casename varchar, memory_image varchar, disk_image varchar, disk_name varchar, timezone varchar, volatility_profile varchar, notes varchar, case_keywords varchar, status varchar);
create table config (param_name varchar, param_value varchar);
insert into config VALUES ('ELK-IP', '{{ ffate_elk_ip }}');
insert into config VALUES ('Plaso-dash', 'plaso.json');
insert into config VALUES ('Database-version', '1');
insert into config VALUES ('Webapp-version', '1');

